Write a program that inputs two numbers and prints their sum

4
5
9

Write a program that greets the person by printing the word "Hi" and the name of the person.

Write a program that takes a number and print its square.

Write a program that reads the length of the base and the height of a right-angled triangle and prints the area.
Every number is given on a separate line.

Write a program that greets the user by printing the word "Hello", 
a comma, the name of the user and an exclamation mark after it.

N students take K apples and distribute them among each other evenly.
The remaining (the undivisible) part remains in the basket. 
How many apples will each single student get? How many apples will remain in the basket?

Write a program that reads an integer number and prints its previous and next numbers. See the examples below for the exact format your answers should take. 
There shouldn't be a space before the period.

A timestamp is three numbers: a number of hours, minutes and seconds. Given two timestamps, 
calculate how many seconds is between them. 
The moment of the first timestamp occurred before the moment of the second timestamp.

A school decided to replace the desks in three classrooms. Each desk sits two students.
Given the number of students in each class, print the smallest possible number of desks that can be purchased.
The program should read three integers: the number of students in each of the three classes, a, b and c respectively.

Given an integer number, print its last digit.

Given a three-digit number. Find the sum of its digits.

Given a positive real number, print its fractional part. (as a float)

Given a positive real number, print its first digit to the right of the decimal point.

A car can cover distance of N kilometers per day. 
How many days will it take to cover a route of length M kilometers? The program gets two numbers: N and M.

Given the integer N - the number of minutes that is passed since midnight -
how many hours and minutes are displayed on the 24h digital clock?

The program should print two numbers: the number of hours (between 0 and 23) and the number of minutes (between 0 and 59).

For example, if N = 150, then 150 minutes have passed since midnight - i.e. now is 2:30 am. So the program should print 2 30.

A cupcake costs A dollars and B cents. Determine, how many dollars and cents should one pay for N cupcakes. 
A program gets three numbers: A, B, N. It should print two numbers: total cost in dollars and cents.

H hours, M minutes and S seconds are passed since the midnight (0 ≤ H < 12, 0 ≤ M < 60, 0 ≤ S < 60).
Determine the angle (in degrees) of the hour hand on the clock face right now.

In [ ]:
Hour hand turned by α degrees since the midnight. 
Determine the angle by which minute hand turned since the start of the current hour.
Input and output in this problems are floating-point numbers.

In [ ]:
You are given a string.
In the first line, print the third character of this string.

In the second line, print the second to last character of this string.

In the third line, print the first five characters of this string.

In the fourth line, print all but the last two characters of this string.

In the fifth line, print all the characters of this string with even indices (remember indexing starts at 0, so the characters are displayed starting with the first).

In the sixth line, print all the characters of this string with odd indices (i.e. starting with the second character in the string).

In the seventh line, print all the characters of the string in reverse order.

In the eighth line, print every second character of the string in reverse order, starting from the last one.

In the ninth line, print the length of the given string.

*****************************************************************************************************************************

# *********************************************************************************************

*****************************************************************************************************************************

*****************************************************************************************************************************

Question 1: Accept two int values from the user and return their product. If the product is greater than 1000, then return their sum

Expected Output:

Enter first number 10

Enter second number 20

The result is 200

Enter first number 10
Enter second number20
The result is 200

Question 2: Given a range of numbers. Iterate from o^th number to the end number and print the sum of the current number and previous number

Expected Output:

Printing current and previous number sum in a given range
0
1
3
5
7
9
11
13
15
17

Printing current and previous number sum in a given range
0
1
3
5
7
9
11
13
15
17

Question 3: Accept string from the user and display only those characters which are present at an even index

Expected Output:

Enter String  pynative
Orginal String is  pynative
Printing only even index chars
index[ 0 ] p
index[ 2 ] n
index[ 4 ] t
index[ 6 ] v

Enter String pynative
Orginal String is  pynative
Printing only even index chars
index[ 0 ] p
index[ 2 ] n
index[ 4 ] t
index[ 6 ] v

Question 4: Given a string and an int n, remove characters from string starting from zero up to n and return a new string

Note: n must be less than the length of string. For example, removeChars("pynative", 4) so output must be “tive”.

Expected Output:

Removing n number of chars
tive

Removing n number of chars
tive

Question 5: Given a list of ints, return True if first and last number of a list is same
Expected Output:

the first and last number of a list is same
result is True

The first and last number of a list is same
result is True

Question 6: Given a list of numbers, Iterate it and print only those numbers which are divisible of 5

Expected Output:

Finding divisible of 5
10
20
55

Finding divisible of 5 in a list
10
20
55

Question 7: Return the number of times that the string “Emma” appears anywhere in the given string
Given string is “Emma is a good developer. Emma is also a writer” and output should be 2.

Expected Output:

Emma appeared  2 times

Emma appeared  2 times

Question 8: Print the following pattern

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

Question 9: Reverse a given number and return true if it is the same as the original number
Expected Output:

number = 121
Orignal and revers number is equal
True

orignal and revers number is equal
True

Question 10: Given a two list of ints create a third list such that should contain only odd numbers from the first list and even numbers from the second list

Expected Output:

listOne = [10, 20, 23, 11, 17]
listTwo = [13, 43, 24, 36, 12]

Merged List is
[23, 11, 17, 24, 36, 12]

Merged List is
[23, 11, 17, 24, 36, 12]